html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

p {
  margin: 0;
  font-size: 1.4rem;
}

.cursor-pointer {
  cursor: pointer;
}

.text-truncate {
  width: 40rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
